
.job{
    display: inline-block;
    width:22%;
    height:80%;
    border: solid 5px #FFFFFF;
    padding: 5px;
    background-color: rgba(30,0,0,0.8);
    text-align: center;
    margin:1%;


}
body{
    background-color:#ffffff;
    background-image: url("../static/hiring.jpg");
    background-size: cover;
    color:white;

}

header{
  background-color:rgba(0, 0, 0, 0.5);
  text-align:center;
  display: block;
  padding: 10px 30px,30px,100px;
  color: white;

}

h1{
    display:inline-block;
    margin:40px auto 20px auto;

}
form{
    display:inline-block;
    margin:10px auto;
    text-align:center;



}
input{
    width:400px;
    height:40px;
}

i.fa-undo,button{
    width:40px;
    height:40px;
    color:white;
}

h2{
    font-size:2.2rem;
    font-weight: bold;
    display:inline-block;
    height:100px;

}

h3{
    font-size:1.5rem;
}

h4{
    font-size:2rem;
}
/*.checked {*/
/*    color: orange;*/
/*}*/

/*<i class="fa fa-star fa-stack-1x" style="display: none; color: orange;">*/

a{
    color:hotpink;
}
a:hover {
    color: hotpink;
}

i.fa-star-o{
    color:orange;
}


td{
    text-align:left;
}

/*span.stars, span.stars span {*/
/*    display: block;*/
/*    background: url(stars.png) 0 -16px repeat-x;*/
/*    width: 80px;*/
/*    height: 16px;*/
/*}*/

/*span.stars span {*/
/*    background-position: 0 0;*/
/*}*/

